* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
	background: url(../img/fondo.jpg) no-repeat center center fixed;
	background-size: cover;
}


body::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background: #000;
	border-radius: 5px;
}


.titulo {
	background: rgba(0,0,0,.6);
	border-radius: 5px;
	color: #fff;
	padding: 10px;
}

.formulario {
	margin-top: 55px;
}

.row {
	margin-bottom: 75px;
}

.jumbotron {
	padding: 5px;
}

.nav-link {
	cursor: pointer;
}

#perfil {
	background: #f2f2f2; 
	top: 60px; 
	position: absolute; 
	display: none;
}